{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }} | Магазин бытовой техники
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Изображение товара">
    <h1>{{ product.name }}</h1>
     <h2>
       <a href="{% url 'shop:product_list' %}?category={{ product.category.slug }}">
         {{ product.category }}
       </a>
     </h2>
    <p class="price">{{ product.price }} ₽</p>
    {{ product.description|linebreaks }}
  </div>
	
	{% if products_sale1 %}
    <div class="recommendations"> 
      <h2>Акция! Утюги Philips и Tefal до 7000 рублей </h2> 
      {% for product in products_sale1 %}
        <div class="item">
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
          </a>
					<br>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
          <br>
          {{ product.price }} ₽
        </div>
      {% endfor %}
    </div>
  {% endif %}
	
	{% if products_sale2 %}
    <div class="recommendations"> 
      <h2>Новинки к чёрной пятнице! Холодильники и микроволновки по низким ценам!</h2> 
      {% for product in products_sale2 %}
        <div class="item">
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
          </a>
					<br>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
          <br>
          {{ product.price }} ₽
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
