{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }} | Магазин бытовой техники
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Фото {{ product.name }}">
    <h1>{{ product.name }}</h1>
     <h2>
       <a href="{% url 'shop:product_list' %}?category={{ product.category.slug }}">
         {{ product.category }}
       </a>
     </h2>
    <p class="price">{{ product.price }} ₽</p>
		<p><b>Страна производства:</b> {{ product.country_name }}</p>
    {{ product.description|linebreaks }}
  </div>
	
	
	<div style="margin-top: 125px;">
	

<div>
<h2>Написать комментарий:</h2>
{% if request.user.is_authenticated %}
<form style="padding: 0 50px 50px 0" action="{% url "shop:product_comment" product.slug %}" method="post" enctype="multipart/form-data">
  {{ form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Отправить"></p>
</form>
{% else %}
<p>Авторизуйтесь, чтобы оставить комментарий.</p>
{% endif %}
{% with comments.count as total_comments %}
<br>
<br>
<br>
	<h2>
    Всего комментариев: {{ total_comments }}
  </h2>
  {% endwith %}
</div>

{% for comment in comments %}

<div style="border: solid 1px black; padding: 10px; margin-bottom: 20px;" class="comment">
<p class="info">
Комментарий от <b>{{ comment.name }}</b> ({{ comment.created|date:"d M Y в H:i" }}):</p>
 <i>{{ comment.body|linebreaks }}</i>  
 {% if comment.image %}
            <img src="{{ comment.image.url }}" alt="Изображение пользователя" style="max-width: 250px;">
        {% endif %}
{% if request.user.is_authenticated and request.user.get_full_name == comment.name %}
<br>
<br>
                 <a href="{% url 'shop:edit_comment' comment_id=comment.id %}">Редактировать</a>
           <form method="post" action="{% url 'shop:delete_comment' comment_id=comment.id %}" style="display:inline;">
                   {% csrf_token %}
                   <button type="submit">Удалить</button>
               </form>
					 {% endif %} 
</div>


{% empty %}
<p>Пока ещё нет комментариев.</p>

{% endfor %}


</div>

	<div style="margin-top: 50px;">
	    <h2>Вас может заинтересовать</h2>
        {% if similar_products %}
            <div class="product-list">
                {% for similar_product in similar_products %}
                    <div class="similar-product item">
                        <a href="{{ similar_product.get_absolute_url }}">
                            <img src="{% if similar_product.image %}{{ similar_product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ similar_product.name }}"  width="150px">
                            <p>{{ similar_product.name }}</p>
                        </a>
                    </div>
                 {% endfor %}
            </div>
        {% else %}
          <p>Нет похожих товаров из той же страны</p>
        {% endif %}
</div>

{% endblock %}
